<app-navbar></app-navbar>

<div class="w-full bg-slate-600 text-slate-100 
            text-5xl pt-[150px] p-10">
    <section class="opacity-50 max-w-full mx-auto text-[10rem] 
                    text-balance break-words">
        At the start of our refactoring adventure, we find ourselves staring at
        three services: the Auth service, User service, and Image Upload
        service. The Auth service is where we begin. In the auth service, we
        find the from utility function from RxJS, which allows conversion of the
        Firebase promise-based API into an Observable.
    </section>
</div>