<div>
    <div class="overlay"></div>
    <header>
        <a href="#" class="logo"><span>R</span>ichi</a>
        <ul class="navlist">
            <li><a href="#home" class="active">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#about">Services</a></li>
            <li><a href="#about">Portfolio</a></li>
            <li><a href="#about">Blog</a></li>
            <li><a href="#about">Contact</a></li>
        </ul>
        <div class="right-header">
            <a href="#" class="btn">
                Let's chat <mat-icon>message</mat-icon>
            </a>
            <div class="menu-icon">
                <div class="bar"></div>
            </div>
        </div>
    </header>

    <section class="home" id="home">
        <div class="hero-info">
            <h3>Welcome to my world</h3>
            <h1>Hi I'm Duc</h1>

            <div class="text-animate">
                <h2>Frontend Developer</h2>
            </div>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi rerum cupiditate 
                delectus ullam voluptates accusamus sapiente minima deleniti cum amet.
            </p>

            <div class="btn-box">
                <a href="mailto:duc@gmail.com" class="btn">
                    Hire Me Now! 
                    <i class="fa-solid fa-arrow-right"></i>
                </a>

                <a href="img/resume.pdf" target="_blank" class="">
                    Download CV
                    <i class="fa-solid fa-download"></i>
                </a>
            </div>

            <div class="social-meida">
                <div class="bg-icon">
                    <a href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
            </div>
            <div class="img-hero">
                <img src="img/hero.png" alt="img">
                <div class="rotate-text">
                    <div class="text">
                        I'm Youtuber And I'm Frontend Developer And I'm Designer
                    </div>
                    <span><i></i></span>
                </div>
            </div>
        </div>
    </section>

    <section class="about" id="about">
        <div class="about-img">
            <img src="img/aboutMe.png" alt="img" class="aboutHero">
            <div class="showcase-ring">
                <img src="shapes/ring.png" alt="img" class="ring">
                <img src="shapes/circle.png" alt="img" class="circle">
            </div>
        </div>
        <div class="about-content">
            <h2>About Me</h2>
        </div>
    </section>
</div>