/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@include mat.core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@tailwind base;
@tailwind components;
@tailwind utilities;

//sleek form
//custom theming for material


//define the theme object
$default-theme: mat.define-theme(
    (
        color: (
            theme-type: light,
            primary: mat.$azure-palette,
            tertiary: mat.$blue-palette,
        ),
        // density: (
        //     scale: -2 //kích thước của input
        // )
    )
);

$compact-theme: mat.define-theme(
    (
        density: (
            scale: -4,
        )
    )
);

:root {
    @include mat.all-component-themes($default-theme);
    @include mat.form-field-density($compact-theme);
}

.mdc-notched-outline__notch {
    border-style: none;
}

.mat-mdc-icon-button {
    line-height: normal;
}

$theme: mat.define-theme(
    (
        color: (
            theme-type: light,
            primary: mat.$azure-palette,
        ),
    )
)